uploads/CV/*.log 
uploads/CV/*.fdb_latexmk
uploads/CV/*.tex 
uploads/CV/*.aux
uploads/CV/*.out
uploads/CV/outlier.*
uploads/ED_JOB_CV/*.log 
uploads/ED_JOB_CV/*.fdb_latexmk
uploads/ED_JOB_CV/*.tex 
uploads/ED_JOB_CV/*.aux
uploads/ED_JOB_CV/*.out
uploads/*.log 
uploads/*.fdb_latexmk
uploads/*.tex 
uploads/*.aux
uploads/*.out
uploads/outlier.*
uploads/groupt/*.log 
uploads/groupt/*.fdb_latexmk
uploads/groupt/*.pre
uploads/groupt/*.synctex.gz
uploads/groupt/*.fls
uploads/groupt/*.tex 
uploads/groupt/*.aux
uploads/groupt/*.out
