body {
  font-family: Montserrat, sans-serif;
  background: #E6E5FA;
  color: #000;
  margin: 0;
  padding: 0;
  line-height: 1.6;

  a:link {
    color: #0E6c9c;
    text-decoration: none;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
  }

  a:visited {
    color: #404576;
    text-decoration: none underline auto;
    font-family: Montserrat, sans-serif;
    font-weight: normal;
  }

  a:hover {
    color: black;
    text-decoration: underline;
    font-size: 100%;
    font-weight: bold;
  }

}

ul {
  list-style-type: none;
  margin: 0em;
  padding: 0em;
  list-style-position: outside;
}

.container {
  max-width: 1000px;
  margin: 0 auto;
  justify-content: space-between;
}

.icon {
  height: 20px;
  width: 20px;
  display: block;
}

header {
  background-color: #25283d;
  color: #FBFBFF;
  padding: 1em 0;
  padding-left: 2em;

  a:link {
    border-radius: 5px;
    text-decoration-thickness: 50%;
    color: #f0f0ff;
    text-decoration: none;
    display: inline-block;
    padding: 0.55em;
    background-color: #453F78;
  }

  a:visited {
    border-radius: 5px;
    color: #fff;
    text-decoration: none;
    display: inline-block;
    padding: 0.5em;
  }

  a:hover {
    color: #fff;
    text-shadow: 0 0 5px #fff;
    font-size: 100%;
  }

}

.imageflex {
  display: flex;
}

.imageflexcontent {
  margin-left: 5px;
  margin-top: 0;
}

.blog-post {
  margin-bottom: 40px;
  overflow: hidden;
  padding-top: 10px;
  padding: 30px;
  color: #25283D;
  background: #fbfbff;
  border-color: blue;
  border-radius: 10px;
  box-shadow: 0 0 3px #6e738d;

  ul {
    list-style: disc;
    padding-left: 2em;
  }
}

.blog-post-ex {
  margin-bottom: 40px;
  overflow: hidden;
  padding: 30px;
  background: #fbfbff;
  border-radius: 10px;
  box-shadow: 0 0 5px #161925;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  ul {
    list-style: disc;
    padding-left: 2em;
  }
}

.resource-post-ex {
  margin-bottom: 40px;
  overflow: hidden;
  padding: 30px;
  background: #fbfbff;
  border-radius: 10px;
  box-shadow: 0 0 5px #161925;
  transition: transform 0.3s ease, box-shadow 0.3s ease;

  ul {
    list-style: disc;
    padding-left: 2em;
  }
}

.blog-post:hover,
.blog-post-ex:hover,
.resource-post-ex:hover {
  transform: translateY(-3px);
  box-shadow: 0 8px 12px #161925;
}

nav li {
  display: inline;
  margin-left: 0px;
  padding: 5px;
}

section {
  padding: 1em;
}

meow {
  font-family: monospace;
  text-decoration: none;
  font-size: 12px;
}

.section-about {
  padding-left: 2em;
  padding-right: 2em;

  h3 {
    margin-bottom: 0px;
    color: #312D6D;
    text-decoration: solid;
    font-weight: bold;
  }
}

.section-blog {
  color: #080505;
  font-family: Montserrat, sans-serif;
  padding-left: 2em;
  padding-top: 1em;
  padding-right: 2em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: Montserrat, sans-serif;
}

h2 {
  color: #2c363f;
  border-bottom: 1px solid #0081a7;
  padding-bottom: 5px;
  margin-bottom: 20px;
}

h3,
.blog-post-ex {
  /*color:#2c363f;*/
  border-bottom: 1px solid #2c3630;
  padding-bottom: 5px;
  margin-bottom: 5px;
}


img {
  width: 100%;
  height: auto;
  display: block;
  border-radius: 8px 8px 8px 8px;
}


h3 {
  margin-top: 0;

  a:link {
    color: #312D6D;
    text-decoration: none;
    font-weight: bold;
  }

  a:visited {
    color: #312D6D;
    text-decoration: none;
    font-weight: bold;
  }
}

a {
  text-decoration: none;
}

/*----tags---------------------------------------*/
.tag {
  padding: 0em 0em;
  background-color: #995FA3;
  color: #fff;
  border-radius: 15px;
  margin-right: 10px;
  margin-bottom: 0px;
  margin-top: 0px;
  text-decoration: none;
  cursor: pointer;
}

.tags {
  margin-bottom: 40px;
  font-family: Montserrat, sans-serif;
  margin-left: 0em;
  margin-top: 1em;
}

.data-tags {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-family: Montserrat, sans-serif;
  margin-top: 2em;
}

.date {
  font-size: 11px;
  padding-bottom: 5px;
  font-style: italic;
  font-family: Montserrat, sans-serif;
  margin-left: auto;
}

.tags .tag {
  background-color: #995fa3;
  color: #fff;
  padding: 3px 8px;
  border-radius: 10px;
  margin-right: 5px;
  display: inline-block;
  font-size: 12px;
  font-family: Montserrat, sans-serif;
}

.blog-type {
  background-color: #995fa3;
  color: #fff;
  padding: 3px 8px;
  border-radius: 10px;
  display: inline-block;
  font-family: Montserrat, sans-serif;
  font-size: 12px;
}

/* Removed unused code-container and pre styles - not currently used in markup */

